<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <add name="MegabiteCafeteriaEntities" connectionString="metadata=res://*/entityMegabite.csdl|res://*/entityMegabite.ssdl|res://*/entityMegabite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SWAPNILV\SQLEXPRESS2012;initial catalog=CafeteriaTest;persist security info=True;user id=sa;password=5ury4;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--       <add name="CafeteriaEntities" connectionString="metadata=res://*/entityMegabite.csdl|res://*/entityMegabite.ssdl|res://*/entityMegabite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.7.238;initial catalog=Cafeteria;user id=megabite;password=c@feter!@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <add name="connCafeteria" connectionString="data source=10.1.7.238; uid=megabite; pwd=c@feter!@; initial catalog=Cafeteria"
             providerName="System.Data.SqlClient" />
    <add name="Demo_connCafeteria" connectionString="data source=10.1.7.238; uid=megabite; pwd=c@feter!@; initial catalog=Cafeteria_Demo"
             providerName="System.Data.SqlClient" />-->
    <!--This will be Server -->
    <add name="connCafeteria" connectionString="data source=VIVEKB\SQLEXPRESS2012;initial catalog=Cafeteria;user id=sa;password=5ury4"
           providerName="System.Data.SqlClient" />

    <!--This will be Client-->

    <add name="Demo_connCafeteria" connectionString="data source=VIVEKB\SQLEXPRESS2012;initial catalog=Cafeteria_Demo;user id=sa;password=5ury4"
           providerName="System.Data.SqlClient" />



  </connectionStrings>
</configuration>
