<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <!--<add name="MegabiteCafeteriaEntities" connectionString="metadata=res://*/entityMegabite.csdl|res://*/entityMegabite.ssdl|res://*/entityMegabite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SWAPNILV\SQLEXPRESS2012;initial catalog=CafeteriaTest;persist security info=True;user id=sa;password=5ury4;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MegabiteCafeteriaEntities" connectionString="metadata=res://*/entityMegabite.csdl|res://*/entityMegabite.ssdl|res://*/entityMegabite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SWAPNILV\SQLEXPRESS2012;initial catalog=CafeteriaTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="MegabiteCafeteriaEntities" connectionString="metadata=res://*/entityMegabite.csdl|res://*/entityMegabite.ssdl|res://*/entityMegabite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SWAPNILV-PC;initial catalog=Cafeteria;
    Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="MegabiteCafeteriaEntities" connectionString="metadata=res://*/entityMegabite.csdl|res://*/entityMegabite.ssdl|res://*/entityMegabite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BUNKERZZZCAFE;initial catalog=bunkerz;
      Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\logger.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>
